:root {
    --grey-200: #EAECF0; 
    --grey-300: #D0D5DD; 
    --grey-400: #98A2B3; 
    --grey-500: #667085; 
    --grey-700: #344054; 
    --grey-800: #233250;
    --grey-900: #101828; 

    --button-gradient: linear-gradient(78deg,var(--grey-900), var(--grey-800));

    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 650;

    --round-1: 50px;
    --round-2: 10px;
    --round-3: 8px;
}

@media screen and (max-width: 1199.9px) {
    :root {
        --round-4: 5px;
    }

    .service-cards {
        grid-template-columns: repeat(auto-fit, minmax(156.5px, 1fr));
        gap: 7px;
    }

    .service-card {
        border-radius: var(--round-4);
    }

    .service-card h3 {
        font-size: 25px;
        font-weight: var(--font-bold);
    }

    #adoption-card { 
        grid-column: span 2;
        aspect-ratio: 1 / .49;
    }

    .service-details {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .service-cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }

    .service-card {
        border-radius: var(--round-2);
    }

    .service-card:hover {
        cursor: pointer;
    }

    .service-card:hover .service-details{
        display: flex;
        flex-direction: column;
    
        align-items: center;
    }

    .service-card h3 {
        font-size: 50px;
        font-weight: var(--font-bold);
    }

    .service-details {
        margin: 0 20px;
    
        display: none;
    }
    
    .service-details p {
        margin-top: 10px;
        margin-bottom: 30px;
    
        font-size: 16px;
        text-align: justify;
    }
    
    .service-details a {
        background: var(--button-gradient);
    
        padding: 15px 25px;
    
        border-radius: var(--round-3);
    
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    }

    #adoption-card {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        aspect-ratio: .49 / 1;
    }

}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;


    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;

    min-height: 100vh;


    font-family: 'Montserrat', sans-serif;
}

body>header{
    padding: 28px 18px 0 15px;

    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body>header a{
    display: flex;
    flex-direction: row;

    align-items: center;

    color:#fff;
    font-size: 20px;
    font-weight: var(--font-bold);
    text-decoration: none;
}

body>header img {
    margin-right: 11px;

    width: 32px;
}

main {
    position: absolute;
    z-index: 1;
}

/* HERO SECTION ------------------------------------------------- */

#hero {  
      /* QUEM SABE PASSAR ISSO PRO @MEDIA SCREEN MOBILE */
    background-image: url(../imgs/hero-background.png);
    background-size: cover;
    background-position: 20%;

    height: 609px;

    padding: 0 50px 0 27px;

    position: relative;

    align-items: flex-start;

    color: #fff;
}

#hero h1 {
    margin-bottom: 10px;
    padding-top: 172px;

    font-size: 30px;
    font-weight: var(--font-semi-bold);
}

#hero p {
    margin-bottom: 50px;

    font-size: 14px;
}

#hero button {
    background-color: transparent;

    padding: 16px 28px;

    display: flex;

    align-items: center;

    border-radius: var(--round-1);
    border: 1px solid #fff;

    color: #fff;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: var(--font-semi-bold);
}

#hero button img {
    margin-left: 12px;

    width: 22px;
}

/* ALL SECTIONS ------------------------------------------------- */

.section {
    padding: 40px 16px;
}

.section-header {
    margin-bottom: 20px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    border-bottom: 0.2px solid black;

    color: var(--grey-900);
}

.section-header div {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.section-header img {
    height: 24px
}

.section-header h2 {
    margin-left: 15px;

    font-size: 20px;
    font-weight: var(--font-medium);
}

/* SHOP SECTION ------------------------------------------------- */

.featured-products {
    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;

    justify-content: normal;
}

.featured-products h3 {
    font-size: 15px;
    font-weight: var(--font-medium);
}

.featured-products nav {
    display: flex;

    justify-content: space-between;
}

.featured-products img {
    width: 100%;

    border-radius: var(--round-2);
}

.product-imgs {
    display: grid;
    row-gap: 17px;
}

.product-imgs img {
    height: 474px;
}

#product-filter button{
    background-color: transparent;

    padding: 5px 10px;

    border: none;

    color: rgba(0, 0, 0, 0.7);
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: var(--font-semi-bold);
}

#product-filter .active-filter {
    background: var(--button-gradient);

    padding: 10px 16px;

    border-radius: var(--round-3);

    color: #fff;
}

/* SERVICES SECTION ------------------------------------------------- */

.service-cards {
    display: grid;
}

.service-card {
    background-color: #98A2B3;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    aspect-ratio: 1 /1;

    color: #fff;
}

#grooming-card{
    background-image: url(../imgs/services-grooming.png);
    background-size: cover;
}

#boarding-card{
    background-image: url(../imgs/services-boarding.png);
    background-size: cover;
}

#veterinary-card{
    background-image: url(../imgs/services-veterinary.png);
    background-size: cover;
}

#training-card{
    background-image: url(../imgs/services-training.png);
    background-size: cover;
}

#adoption-card {
    background-image: url(../imgs/services-adoption.png);
    background-size: cover;
}

/* ABOUT US SECTION ------------------------------------------------- */

#about-us p {
    color: var(--grey-500);
    font-size: 15px;
}

#about-us p:not(:last-of-type){
    margin-bottom: 16px;
}

/* BLOG SECTION ------------------------------------------------- */

#blog article>* {
    margin-bottom: 15px;
}

#blog h3, h4 {
    color: var(--grey-900);
    font-size: 20px;
}

#blog p {
    color: var(--grey-500);
    font-size: 15px;
}

#blog article>p {
    padding-top: 10px;

    border-top: solid 1px var(--grey-200);
}

#blog h4 {
    margin-bottom: 10px;
}

#blog a {
    background: var(--button-gradient);

    display: inline-block;

    margin: 0;
    padding: 10px 15px;

    border-radius: var(--round-4);

    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

/* OUR TEAM SECTION ------------------------------------------------- */

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* 32px on desktop */
    gap: 6px; 
}

.team-member {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.member-pic {
    width: 100%;
}

.member-name {
    margin-top: 5px;

    color: var(--grey-900);
    font-size: 13px;
    font-weight: var(--font-semi-bold);
}

.member-position {
    margin-top: 3px;

    color: var(--grey-400);
    font-size: 11px;
}

.member-socials {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15px;
    gap: 5px;

    margin-top: 5px;

    list-style-type: none;
}

/* CONTACT SECTION ------------------------------------------------- */

.footer-sections {
    background-color: var(--grey-900);
}

.footer-sections-header {
    color: #fff;
}

#contact {
    overflow: visible;
}

#contact header {
    border-bottom: solid 0.2px #fff;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 31px 21px;

    margin-bottom: 42px;
}

.contact-card img, .contact-card h3 + p {
    margin-bottom: 10px;

    color: var(--grey-400);
    font-size: 10px;
}

.contact-card h3 {
    margin-bottom: 5px;

    color: #fff;
    font-size: 13px;
    font-weight: var(--font-semi-bold);
}

.contact-card address {
    color: #fff;
    font-size: 10px;
    font-weight: var(--font-semi-bold);
    font-style: normal;
}

.contact-card a {
    color: #fff;
    font-size: 10px;
    font-weight: var(--font-semi-bold);
    text-decoration: none;
}

/* FORM ------------------------------------------------- */

#contact-form {
    background-color: #fff;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 21px;

    margin-bottom: 40px;
    padding: 26px 21px;

    border-radius: var(--round-2);
}

.wide {
    grid-column: span 2;
}

.input-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.input-container label {
    color: var(--grey-700);
    font-size: 9px;
    font-weight: var(--font-medium);
}

.input-container input, .input-container textarea {
    width: 100%;

    margin-top: 4px;
    padding: 8px 11px;

    border: solid 0.66px var(--grey-300);
    border-radius: var(--round-4);
}

.input-container input::placeholder {
    color: var(--grey-500);
    font-size: 10px;
}

.input-container:nth-child(5) {
    grid-template-columns: auto 1fr;
    gap: 0 4px;
}

.input-container:nth-child(5) input {
    appearance: none;

    width: 13px;
    height: 13px;

    margin: 0;
    padding: 0;

    border-radius: 3px;
}

.input-container:nth-child(5) label, .input-container:nth-child(5) label a {
    color: var(--grey-500);
    font-size: 10px;
    font-weight: 400;
}

.input-container button {
    background: var(--button-gradient);

    margin-top: 5px;
    padding: 13px 0;

    border: none;
    border-radius: var(--round-4);

    color: #fff;
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: var(--font-semi-bold);
}

/* NEWSLETTER */

.newsletter {
    position: relative;
}

.newsletter:before {
    content: "";
    background-color: #ccc;
    
    position: absolute;
    top: 0;
    left: -16px;
    
    width: 100vw;
    height: 1px;
}

.newsletter h3 {
    padding-top: 40px;
    
    color: #fff;
    font-size: 20px;
    font-weight: var(--font-medium);
}

.newsletter p {
    color: var(--grey-400);
    font-size: 13px;
    font-weight: var(--font-medium);
}

.newsletter form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 15px;

    margin-top: 32px;
}

.newsletter input {
    background-color: var(--grey-300);

    padding: 9px 13px;

    border: none;
    border-radius: var(--round-3);
}

.newsletter input::placeholder {
    color: var(--grey-500);
    font-family: 'Montserrat';
    font-size: 14px;
}

.newsletter button {
    background-color: #fff;

    padding: 9px 0;

    border: none;
    border-radius: var(--round-3);

    color: var(--grey-700);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: var(--font-semi-bold);
}

/* FOOTER SECTION ------------------------------------------------- */

#footer header {
    border: none;
    flex-direction: column;
}

#footer header h2 {
    font-weight: var(--font-bold);
}

#footer header p {
    margin-top: 20px;

    color: var(--grey-400);
    font-size: 16px;
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
    gap: 30px 45px;
}

.link-group {
    display: flex;
    flex-direction: column;
}

.link-group h3 {
    margin-bottom: 16px;

    color: #fff;
    font-size: 14px;
    font-weight: var(--font-bold);
}

.link-group ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    list-style: none;
}

.link-group a {
    color: var(--grey-300);
    font-size: 16px;
    text-decoration: none;
}

/* COPYRIGHT */

.copyright-bar {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 40px;
    padding-top: 20px;

    border-top: solid 1px var(--grey-300);

    color: var(--grey-300);
}

.copyright-bar ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24px, 1fr));
    gap: 24px;

    margin-top: 10px;

    list-style: none;
}